nav ul{
	list-style: none;
	margin: auto;
	padding: 0;
}

nav li{
	display: inline-block;
}

.app-container{
	height: 900px;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

form .btn-info{
	margin-top: 12px;
}

.input-text{
	width: 50%;
	margin: auto;
}